# SPDX-FileCopyrightText: 2023 Daniel Sampliner <samplinerD@gmail.com>
#
# SPDX-License-Identifier: GLWTPL

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
