# SPDX-FileCopyrightText: 2023 Daniel Sampliner <samplinerD@gmail.com>
#
# SPDX-License-Identifier: GLWTPL

.direnv
.pre-commit-config.yaml

# build artifacts
.redo
ctrs/*.stream
manifest.json
result
streams
